.texto-borde {
  position: relative;
  color: white;
  padding: 10px;
  display: inline-block;
}

.texto-borde::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e74c3c;
  border: 2px solid #c0392b;
  z-index: -1;
  border-radius: 5px;
  padding: 5px;
}
