@import "tailwindcss";

/* Inter font */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

*{
  user-select: none;
}

/*Estilos de https://ui.shadcn.com/docs/components/typography*/
h1 {
  @apply scroll-m-20 text-4xl font-extrabold lg:text-5xl;
}
h2 {
  @apply scroll-m-20 pb-2 text-3xl font-semibold transition-colors first:mt-0;
}
h3 {
  @apply scroll-m-20 text-2xl font-semibold;
}
h4 {
  @apply scroll-m-20 font-semibold;
}
p {
  @apply leading-7;
}
a {
  @apply font-medium underline underline-offset-4;
}
blockquote {
  @apply mt-6 border-l-2 pl-6 italic;
}
